.cartContainer {
  width: 100vw;
  height: 80vh;
  background: #454545;
  margin-top: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartContainer a {
  text-decoration: none;
  list-style: none;
}

.cartContainer .left {
  width: 55%;
  height: 100%;
  background: white;
  position: absolute;
  padding: 5%;
}

.cartContainer .left header {
  width: 100%;
  height: 60px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #454545;
  border-bottom: 1px solid #b9b9b9;
}

.cartContainer .left header h2 {
  margin-left: 50px;
}

.cartContainer .left header h3 {
  font-size: 12pt;
  font-weight: 600;
  color: #747474;
  margin-right: 10%;
}

.cartContainer .left .product {
  width: 100%;
  height: 80%;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
  margin-top: 20px;
  overflow: auto;
}

.cartContainer .left .product .store {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 8pt;
  color: grey;
}

.cartContainer .left footer {
  width: 100%;
  height: 70px;
  line-height: 70px;
}

.cartContainer .left footer span {
  display: block;
  margin-left: 30px;
  font-size: 10pt;
  font-weight: 600;
  color: #454545;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cartContainer .left footer span:hover {
  color: #f37c49;
}

.cartContainer .right {
  width: 25%;
  height: 100%;
  background: #eae8e9;
  position: absolute;
  right: 0;
  color: #454545;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

.cartContainer .right header {
  width: 100%;
  height: 60px;
  background: #eae8e9;
  border-bottom: 1px solid #b9b9b9;
  line-height: 60px;
}

.cartContainer .right .menu {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1px solid #b9b9b9;
}

.cartContainer .right .menu h2 {
  font-size: 12pt;
  margin-top: 20px;
  font-weight: 500;
  color: #585858;
}

.cartContainer .right .menu input {
  width: 80%;
  height: 30px;
  margin-bottom: 20px;
}

.cartContainer .right .menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cartContainer .right .menu div h3 {
  font-size: 12pt;
  margin-top: 10px;
  font-weight: 500;
}

.cartContainer .right .total {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}

.cartContainer .right .total div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cartContainer .right .total button {
  margin-top: 20px;
  width: 100%;
  height: 40px;
  background: #f37c49;
  border: none;
  font-size: 16pt;
  color: white;
  cursor: pointer;
}

.emptyContainer {
  text-align: center;
}

.emptyContainer h1 {
  margin: 7%;
  color: grey;
}

.emptyContainer .imgBox {
  position: relative;
  width: 981px;
  margin: auto;
}

.emptyContainer .imgBox div {
  width: 400px;
  position: absolute;
  top: 20%;
  left: 5%;
}

.emptyContainer .imgBox div h2 {
  font-size: 40pt;
  color: #b6b6b6;
  -webkit-margin-before: 0.83em;
          margin-block-start: 0.83em;
  -webkit-margin-after: 0.3em;
          margin-block-end: 0.3em;
}

.emptyContainer .imgBox div p {
  color: #a7a7a7;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-weight: 200;
}

.emptyContainer .imgBox div button {
  background: #f37c49;
  border: none;
  color: white;
  margin: 40px;
  padding: 4px;
  cursor: pointer;
}
/*# sourceMappingURL=cart.css.map */