$grey : #454545;
$orange : rgb(243, 124, 73);
$brown: rgb(181,133,90);
$dark-blue: rgb(33,43,55);   
$light-yellow: rgb(247,241,229);   

* {
    padding: 0;
    margin: 0;
}

.productContainer {
    margin: auto;
    width: 100%;
    height: 70px;
    padding: 10px;
    display: flex;

    img {
        width: 70px;
        margin-bottom: 10px;
    }

    .content {
        top: 0;
        left: 0;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        p {
            width: 150px;
            display: block;
            font-size: 10pt;
            color: $grey;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        span {
            font-size: 12pt;
            color: $grey;
            font-weight: 600;
            color: $orange;
        }

        h2 {
            font-size: 10pt;
            color: $grey;
            font-weight: 500;
        }

        input {
            width: 20px;
        }
        
        button {
            display: none;
            width: 20px;
            height: 20px;
            background: $orange;
            padding: 0;
            margin: 0;
        }
        .remove {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            display: block;
            background: gray;
            border: none;
            color: white;
            cursor: pointer;
            font-size: 8pt;
            font-weight: 600;
        }
    }
}