
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  
  color: white;
}

.nav-links {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.a {
  color: rgb(78, 78, 78);
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.a:hover {
  color: rgb(243, 124, 73)
}

.logo img {
  width: 40px;
}
